{% extends 'base_recruiter.html' %} {% block action %}View Jobs{% endblock %}
{%block actionurl%} / {% endblock %} {% block content %}

<form action="addjob" method="post" class="my-auto">
  {% csrf_token %}
  <div class="flex flex-col gap-5">
    <input type="text" placeholder="Title" name="job_title" class="p-3" />
    <input
      type="text"
      placeholder="Description"
      name="job_description"
      class="p-3"
    />
    <input type="text" placeholder="Salary" name="job_salary" class="p-3" />
    <input
      type="text"
      placeholder="Remote/OnSite"
      name="job_type"
      class="p-3"
    />
    <input
      type="text"
      placeholder="Internship/FullTime/PartTime"
      class="p-3"
      name="job_category"
    />
    <input type="submit" class="text-white bg-blue-500 rounded-md p-3" />
  </div>
</form>

{% endblock %}
