<html>
  <html>
    <head>
      <title>My Site</title>
      {% load static %}
      <script src="https://cdn.tailwindcss.com"></script>
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"
        rel="stylesheet"
      />
      <link rel="stylesheet" href="{% static 'indexcss.css' %}" />
    </head>
    <body class="bg-yellow-50">
      <div class="container mx-auto">
        <div class="flex flex-col items-center justify-center h-screen">
          <h1 class="text-6xl text-center heading">GetThatJob</h1>
          <div class="hire font-mono sm:flex sm:flex-col">
            <form method="POST" action="" class="h-[300px] w-[300px]">
              <h1 class="text-4xl text-center">Login</h1>
              {% csrf_token %}

              <div class="flex flex-col">
                <input
                  type="text"
                  name="username"
                  id="username"
                  placeholder="Username"
                  class="border-2 border-gray-300 p-2 rounded-lg mt-2 font-mono"
                />
              </div>
              <div class="flex flex-col">
                <input
                  type="password"
                  name="password"
                  id="password"
                  placeholder="Password"
                  class="border-2 border-gray-300 p-2 rounded-lg mt-2 font-mono"
                />
              </div>
              <div class="flex flex-col">
                <div>
                  <input
                    type="radio"
                    name="role"
                    id="rolerc"
                    value="recruiter"
                    class="border-2 border-gray-300 p-2 rounded-lg mt-2 font-mono"
                  />
                  <label for="Recruiter">Recruiter</label>
                </div>
                <div>
                  <input
                    type="radio"
                    name="role"
                    id="rolejs"
                    value="jobseeker"
                  />
                  <label for="Job Seeker">Job Seeker</label>
                </div>
              </div>
              <div class="flex justify-center">
                <button
                  type="submit"
                  class="bg-blue-500 text-white p-2 rounded-lg mt-4 hover:bg-blue-600 font-mono"
                >
                  Login
                </button>
              </div>
              <center>
                <div class="flex flex-col">
                  {% if error %}
                  <div class="text-red-500 bg-red-100 p-3">{{ error }}</div>
                  {% endif %}
                </div>
              </center>
            </form>
          </div>
        </div>
      </div>
    </body>
  </html>
</html>
