<html>
  <head>
    <title>My Site</title>
    {% load static %}
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href={% static './userauth/signup.csss' %} />
  </head>
  <body class="bg-yellow-50">
    <div class="container mx-auto">
        <div class="flex justify-center items-center flex-col gap-7">
          <h2 class="text-7xl p-5 heading">Sign Up</h2>
        <form class=" w-[500px]">
                <div class="flex flex-col my-4 text-left text-2xl p-3 gap-2">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" class = " font-mono border-black border-2 h-[40px] hover:border-blue-500"/>
                </div>
                <div class="flex flex-col my-4 text-left text-2xl p-3 gap-2">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" class = " font-mono border-black border-2 h-[40px] hover:border-blue-500"/>
                </div>
                <div class="flex flex-col my-4 text-left text-2xl p-3 gap-2">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" class = "font-mono border-black border-2 h-[40px] hover:border-blue-500"/>
                </div>
                <div class="flex flex-col my-4 text-left text-2xl p-3 gap-2">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="passoword" class = "font-mono border-black border-2 h-[40px] hover:border-blue-500"/>
                </div>
                <div class="flex justify-center my-4 text-2xl p-3  flex-col gap-3">
                    <button type="submit" class="rounded bg-blue-500 text-white font-mono text-center hover:bg-blue-600 px-9 py-2 ">Submit</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </body>
</html>
